<div class="table-container">
  <div class="table-header">
    <div class="row">
      <div class="col-12">
        <button mat-button type='button' [routerLink]='["agregar"]'>Agregar categoría</button>
      </div>
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" class='table'>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.name}}
      </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.description }}
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button type='button' [routerLink]='["actualizar",element.id]'>Actualizar</button>
        <button mat-button type='button' [routerLink]='["eliminar",element.id]'>Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <ng-container *ngIf='!dataSource?.data?.length'>
    <h5 class='text-center'>Aun no hay categorías.</h5>
  </ng-container>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>